<br>
<div style="margin:center">
<div class="responsive-container-block container">
  <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
    
    <div class="card bg-glass">
      <div class="card-body px-4 py-5 px-md-5">
<div class="contact_us_2">
  <div class="container">
    <section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: rgba(195, 203, 223, 0.9);
      }
    
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background-color: rgba(15, 23, 43, .9);
        overflow: hidden;
      }
    
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
    
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
      <div class="blueBG">
      </div>
      
        <form class="form-box">
          <div class="container-block form-wrapper">
            <p class="text-blk contactus-head">
              Get in Touch
            </p>
            <p class="text-blk contactus-subhead">
              Contact us 
            </p>
            <div class="responsive-container-block">
              <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt">
                <p class="text-blk input-title">
                  FIRST NAME
                </p>
                <input class="input" id="ijowk" name="FirstName" placeholder="Please enter first name...">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  LAST NAME
                </p>
                <input class="input" id="indfi" name="Last Name" placeholder="Please enter last name...">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  EMAIL
                </p>
                <input class="input" id="ipmgh" name="Email" placeholder="Please enter email...">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                <p class="text-blk input-title">
                  PHONE NUMBER
                </p>
                <input class="input" id="imgis" name="PhoneNumber" placeholder="Please enter phone number...">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i">
                <p class="text-blk input-title">
                  WHAT DO YOU HAVE IN MIND
                </p>
                <textarea class="textinput" id="i5vyy" placeholder="Please enter query..."></textarea>
              </div>
            </div>
            <button class="submit-btn">
              Submit
            </button>
          </div>
          <div class="social-media-links">
            <a href="#" id="ix94i-2">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
            </a>
            <a href="#">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
            </a>
            <a href="#">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
            </a>
            <a href="#" id="izldf-2">
              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
            </a>
          </div>

        </form>
      
      
      
     
  