<div class="container">
  <section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: rgba(48, 51, 61, 0.9);
    }
  
    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background-color: rgba(131, 140, 165, 0.9);
      overflow: hidden;
    }
  
    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#dbb8f0, #d6c1e2);
      overflow: hidden;
    }
  
    .bg-glass {
      background-color: hsla(196, 76%, 88%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <br>
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(221, 16%, 45%)">
            <br />
            <br>
          <span style="color: hsl(218, 77%, 83%)">Books Gallery</span>
        </h1>
        <!--<img src="assets/boyy.avif" height="500px" width="200px" style="background-color: rgba(217, 222, 235, 0.9);">-->
        <p class="container" style="color: hsl(213, 24%, 93%);align-content:baseline;">
    The primary objective of any books gallery system is 
    to collect, store, organize, retrieve and make available 
    the information sources to the information users. 
    A library, as a system, is a subsystem of some super-system 
    (an organization in any field, whether education, research or social service)
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            
            <div class ="background-radial-gradient" style="margin-left:0dvb">
             
              <button style="background-color:rgb(231, 232, 233);size:0cqmax;"><a href="books" class="previous" style="font-size: 35px;color: black;"><i class="fa fa-arrow-right" style="font-size:25px"></i>Welcome To Books Gallery</a></button>
              </div>

       
           