<div class="container" style="text-align: center;">
    <h3> View Author Details</h3>
    </div>
    
    <style>
        
        tr:hover {background-color:rgb(239, 239, 245)}
        table, th, td {
      border: 1px solid rgba(216, 141, 210, 0.603);
      border-collapse: collapse;
      font-size:large;
    }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          margin-left: auto;
        }
        th, td {
          padding: 2px;
          text-align:left;
        }
        </style>
        
    
        <body>
            <div style="background-color: rgb(175, 175, 241);">
            <table style="width:100%">
                <tr>
                  <th>Author Name: </th>
                  <td>{{author.authorName}}</td>
                </tr>
                <tr>
                  <th>Author Email:</th>
                  <td>{{author.authorEmail}}</td>
                </tr>
                <tr>
                  <th>Author Country :</th>
                  <td>{{author.authorCountry}}</td>
                </tr>
                
                    
                  
              </table>
            </div>
        </body>       
    
        
        